<div class="login-middle">
  <div class="login">
    <div class="login-body">
      <div class="login-form" *ngIf="!socailData">
        <label>Sign in with..</label>
        <button class="btn btn-primary btn-block" style="background-color:  #dd4b39;" type="button" (click)="socialSignIn('google')">Google</button>
        <button class="btn btn-primary btn-block" type="button" (click)="socialSignIn('facebook')">Facebook</button>
      </div>
      <div class="login-form" *ngIf="socailData" >
        <form [formGroup]="loginForm" data-toggle="validator">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" formControlName="email"  disabled  [ngClass]="{'is-invalid': submitted && f.email.errors}" class="form-control" type="email" name="email" spellcheck="false" autocomplete="off" data-msg-required="Please enter your email address." required>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="submitted && f.email.errors.required">Email is required</div>
              <div *ngIf="submitted && f.email.errors.email">Enter a valid email id</div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" formControlName="name" [ngClass]="{'is-invalid': submitted && f.name.errors}" class="form-control" type="text" name="name">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="submitted && f.name.errors.required">name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="mobileNumber">Mobile Number</label>
            <input id="mobileNumber" formControlName="mobileNumber" [ngClass]="{'is-invalid': submitted && f.mobileNumber.errors}" class="form-control" type="text" name="mobile">
            <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
              <div *ngIf="submitted && f.mobileNumber.errors.required">Mobile Number is required</div>
            </div>
          </div>
          <button *ngIf="socailData" class="btn btn-primary btn-block" type="button" (click)="Signup()">Complete Signup</button>
        </form>
      </div>
    </div>
    
  </div>
</div>
