.profile-box{width: 500px;margin: 40px auto 40px;max-width: 100%;
       padding: 0px 0px;box-shadow: 0px 1px 6px;
      }
.add-facility{position: relative;}
.add-facility .plus-btn{
  position: absolute;top: -2px;
left: 187px;
cursor: pointer;
    background-size: 100%;
    width: 30px; height: 30px;
    background-repeat: no-repeat;
background-image: url('../img/plus-icon.png');
}
.add-facility .facility-box .col-md-6{
    margin-bottom: 5px;
}
.add-facility .facility-box span{
    position: absolute;
top: 5px;
right: 20px;
padding: 0px 5px ;
border: solid 1px #333;
border-radius: 50%;cursor: pointer;
}
.add-pic .pic-box{
    margin-top: 20px;
}
.login{
    -webkit-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-name:fadeInUp;
    -o-animation-name:fadeInUp;
    animation-name:fadeInUp;
    margin-left:auto;
    margin-right:auto;
    max-width:360px;
    width:100%;
}
.login-body{
    padding:30px
}
.login-brand{
    display:block;
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
    width:140px
}
.login-footer{
    margin-bottom:15px;
    margin-top:15px;
    text-align:center
}
@media (min-width:768px){
    .login-body{
        background-color:#fff;
        border:1px solid #f2f5f8;
        border-radius:0;
        -webkit-box-shadow:0 0 1px 1px rgba(0,0,0,.1);
        box-shadow:0 0 1px 1px rgba(0,0,0,.1);
        margin-bottom:15px;
        margin-top:15px
    }
}
.login-middle{
    padding: 40px 0px;
    margin-top: -50px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoImg .hide{display:none;}
.logoImg {
  clear: both;width: 100px;text-align: center;position: relative;max-width: 100%;
}
.logoImg img{
  width: 100%;max-width: 100%;margin: 0 auto;
}
.logoImg .btn {
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
color: #333333;
text-align: center;
vertical-align: middle;
cursor: pointer;
border: 1px solid #bbbbbb;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-bottom-color: #a2a2a2;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.logoImg .btn {
border-color: #FF7700;
}
.logoImg .btn-large {
    padding: 5px;
    width: 50px;height: 50px;
    position: absolute;
    bottom: -13px;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    border: none;
    right: -20px;
    font-size: 17.5px;
background-image: url('../img/plus-icon.png');

}
.btn + .btn{margin-left: 5px; display: inline-block; vertical-align: middle;}
.padding-5 {
    padding: 5px
}